section{
	padding-top: 10%;
}

#logo{
	display: block;
	margin: auto;
	margin-top: 15%;
	margin-bottom: 15%;
}

#modal-681699{
	display: block;
	margin: auto;
	text-align: middle;
	width: 70%;
}

#buttonSearch{
	display: block;
	margin: auto;
	margin-top: 10%;
	text-align: middle;
	width: 70%;
}

.pagination{
	position: relative;
}

img{
	display: block;
	margin: auto;
}


#thumbnails_pic{
	float: left;
	margin: 4px;
	padding: 4px;
}


.nav_brand{
	padding-top: 0px;
	padding-left: 0px;
	float: left;
}

.view_area{
	background-color: rgba(54, 25, 25, .5);
}

