<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4" style="color: aliceblue; margin-bottom: 0%; margin-top: 20%;" align="right">
                <p>
                    <em>Submitted as part of the Group Project for the module "Application Development"</em><br/> 
                    <small>	Created By: Ajip Maharjan,
                        Diwas Regmi,
                        Prajwol Shrestha Mulmi,
                        Subin Chitrakar
                    </small>
                </p>
            </div>
        </div>   	   		
    </div>	
</footer>